<section id="lab_social_icon_footer">
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
        <div class="text-center center-block">
                <a href=""><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
	            <a href=""><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
	            <a href=""><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
	            <a href="mailto:#"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
    </div>
</div>
</section>

<footer class="bg-light text-center text-green">
 <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.1);">
   © 2022 Copyright:
   <a class="text-green" href="https://mdbootstrap.com/">Finetic.com</a>
 </div>
</footer>
