<div class="modal fade" id="reachoutModal">
 <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Contact Chronic Disease Specialist</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="inputEmail4">First Name</label>
                  <input type="text" class="form-control" placeholder="First name">
                </div>

              </div>
              <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="inputEmail4">Last Name</label>
                    <input type="text" class="form-control" placeholder="Last name">
                </div>

              </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="inputEmail4">Email</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
              </div>

            </div>

            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="inputTb">Medical History</label>
                <textarea class="form-control" rows="5" id="tbComment"></textarea>
              </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="inputTb">Please add your questions or concerns </label>
                  <textarea class="form-control" rows="5" id="tbComment"></textarea>
                </div>
                </div>
          </form>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-success">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>
