<div class="modal fade" id="exploreModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Physical Therapy</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="card">
                <div class="card-header">
                    <h5 ><a href ="#" data-toggle="collapse" data-target="#st4ds">Retraining your posture
                    <span><i class="fas fa-angle-down"></i></span></a>
                    </h5>
                </div>
                <div class="card-body collapse" id="st4ds">
                    <table class="table table-bordered table-hover table-condensed">
                        <thead>
                            <tr>
                                <th>Testimonial</th>
                                <th>Guided Videos</th>
                                <th>Benefits</th>
                                <th>Duration</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>01</td>
                                <td> <a href="https://www.youtube.com/watch?v=U3DParHgSMc"> Back Stretches + Exercises // For LOWER BACK PAIN</a> </td>
                                <td><li>Exercises increase your range of motion</li>

                                   </td>
                                <td> 11:04 </td>
                            </tr>
                            <tr>
                               <td>02</td>
                               <td> <a href="https://youtu.be/N0hpxqIePaQ
                                "> Retraining Posture: UPPER BACK </a></td>
                               <td><li>Helps retraining your upper back postures</li>
                                  <li>Strengthen muscles surrouding upper back</li>
                                  <li>Try these at home!</li>
                                  <li>No equipment required</li>


                                  </td>
                               <td>7:32</td>
                           </tr>
                           <tr>
                               <td>03</td>
                               <td> <a href="https://youtu.be/QumlJTVhVCc
                                "> Retraining Posture: LOWER BACK </a></td>
                               <td>
                                  <li>Designed for those struggling with  lower back pain</li>
                                  <li>Loosens the hip flexors</li>
                                  <li>Strengthens abs and glutes</li>

                                  </td>
                               <td>11:52</td>
                           </tr>
                           <tr>
                               <td>04</td>
                               <td> <a href="https://youtu.be/6C-wfV27bzI
                                "> Retraining Posture: Neck and Surrounding Muscles </a></td>
                               <td><li>Fix your head and neck posture</li>
                                  <li>3 Simple and easy exercises that could be performed anywhere</li>
                                  </td>
                               <td>10:11</td>
                           </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5 ><a href ="#" data-toggle="collapse" data-target="#py4ds">Stretching and flexibility exercises

                    <span><i class="fas fa-angle-down"></i></span></a>
                    </h5>
                </div>
                <div class="card-body collapse" id="py4ds">
                    <table class="table table-bordered table-hover table-condensed">
                        <thead>
                            <tr>
                                <th>Testimonial</th>
                                <th>Guided Videos</th>
                                <th>Benefits</th>
                                <th>Duration</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>01</td>
                                <td> <a href="https://youtu.be/vuGnzLxRvZM"> Pain Relief Stretches: Upper Back</a></td>
                                <td><li>7 Quick and easy stretches for your upper back</li>
                                   <li>Targets: Upper Trapexius, Levator scapulae, rhomboids, Delts, Lats</li>
                                   <li> <a href="https://www.youtube.com/redirect?event=video_description&redir_token=QUFFLUhqa0NYankzSm93bEdpNXBxTWkwTWRET0pFN2xsd3xBQ3Jtc0tuRl9IbUFRS3FjdkdWeTBPcy0yajkzeXh6blRRRmdTeEdxTC13ODRQbVA4cm1uYkpIamdmTEZBT21OWlRfbzJRa2hBSlRqU1pwRnVuU3RnNEhSM2Q2U0JyaF95amVPNEVLa1hNOFNTLVczMmJsNzllQQ&q=https%3A%2F%2Fbackintelligence.com%2Fupper-back-stretches%2F&v=vuGnzLxRvZM"> Article related to explain the exercises</li>

                                   </td>
                                <td>5:08</td>
                            </tr>
                            <tr>
                               <td>02</td>
                               <td> <a href="https://youtu.be/VnDuWC40egg
                                "> Pain Relief Stretches: Mid Back</a></td>
                               <td><li>Also called "Thoracic Back Pain"</li>
                                  <li>3 Stretches to loosen mid back muscles and the pain</li>

                                  </td>
                               <td>3:21</td>
                           </tr>
                           <tr>
                               <td>03</td>
                               <td> <a href="https://youtu.be/1mNKzIrGZc4"> Pain Relief Stretches: Sciatica Exercises</a></td>
                               <td><li>Safe exercises to relieve pain surrounding sciatica</li>
                                  </td>
                               <td>6:38
                               </td>
                           </tr>
                           <tr>

                           </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h5 ><a href ="#" data-toggle="collapse" data-target="#ds4ds">Aerobic exercises
                    <span><i class="fas fa-angle-down"></i></span></a>
                    </h5>
                </div>
                <div class="card-body collapse" id="ds4ds">
                    <table class="table table-bordered table-hover table-condensed">
                        <thead>
                            <tr>
                                <th>Testimonial</th>
                                <th>Guided Videos</th>
                                <th>Benefits</th>
                                <th>Duration</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>01</td>
                                <td> <a href="https://youtu.be/QG4L80lZZKE"> Low Back/Sciata Pain-Free Cardio</a></td>
                                <td><li>Standing workouts without jumping motion</li>
                                   <li>Warmup and cool down included</li>
                                   <li>Safe for sciatica and low back pain</li>
                                   <li>~30 minutes follow-along</li>
                                   </td>
                                <td>29:21</td>
                            </tr>
                            <tr>
                               <td>02</td>
                               <td> <a href="https://youtu.be/f2frdaWa2jg"> Chronic Pain-Free Weight Loss Cardio Workout</a></td>
                               <td><li>Workouts without flexed spine</li>
                                  <li>Moderate workout for beginners and intermediate users</li>
                                 <li>No Equipment</li>
                                  </td>
                               <td>11:24</td>
                           </tr>
                           <tr>
                               <td>03</td>
                               <td> <a href="https://youtu.be/7AZVlOX6lWM"> Cardio and Back Workout</a></td>
                               <td><li>Cardio workout that also strengthens posterior chain</li>
                                <li>Equipment: Resistance band or light weights</li>
                                  </td>
                               <td>34:47</td>
                           </tr>
                           <tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5 ><a href ="#" data-toggle="collapse" data-target="#ml4ml">Manual Therapy (NOT TO BE PERFORMED WITHOUT EXPERT PRESENCE)
                    <span><i class="fas fa-angle-down"></i></span></a>
                    </h5>
                </div>
                <div class="card-body collapse" id="ml4ml">
                    <table class="table table-bordered table-hover table-condensed">
                        <thead>
                            <tr>
                                <th>Testimonial</th>
                                <th>Guided Videos</th>
                                <th>Benefits</th>
                                <th>Duration</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>01</td>
                               <td> <a href="https://youtu.be/QTL3IO8uj6w"> Lower Back Manual Therapy</a></td>
                                    </td>
                                <td><li>Informational Video</li>
                                   <li>Learn the Lumbar Extension/Rotation Therapy Techinque</li>
                                   </td>
                                <td>5:12</td>
                            </tr>
                            <tr>
                               <td>02</td>
                               <td> <a href="https://youtu.be/uhgx96rixm0"> Assessment and Treatment of Low Back Pain</a></td>
                               <td>
                                  <li>Quick walk-through of back pain diagnosis</li>
                             
                                  </td>
                               <td>7:33</td>
                           </tr>
                           <tr>
                               <td>03</td>
                               <td> <a href="https://youtu.be/pr8ASZ1vEng"> Upper Back Joint Mobilization Stretch</a></td>
                               <td>
                                   <li>Upper Back Joint Mobilization Stretch</li>
                               
                                  </td>
                               <td>0:55</td>
                           </tr>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Injection-based Treatments</h5>
          </div>
          <div class="modal-body">
                <div class="card">
                    <div class="card-header">
                        <h5 ><a href ="#" data-toggle="collapse" data-target="#nlp4nlp">Epidural Steroid Injection
                        <span><i class="fas fa-angle-down"></i></span></a>
                        </h5>
                    </div>
                    <div class="card-body collapse" id="nlp4nlp">
                        <table class="table table-bordered table-hover table-condensed">
                            <thead>
                                <tr>
                                    <th>Testimonial</th>
                                    <th>Guided Videos</th>
                                    <th>Benefits</th>
                                    <th>Duration</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td>01</td>
                                    <td> <a href="https://youtu.be/4UFTMFD7yVo"> Ease Chronic Back Pain With Epidural Steroid Injections </a></td>
                                    <td><li>Run-through of epidural steroid injection at a hospital</li>
                                
                                       </td>
                                    <td>4:26</td>
                                </tr>
                                <tr>
                                   <td>02</td>
                                   <td> <a href="https://youtu.be/IMVLr9Z4XFU"> Epidural Steroid Injections (3D Simulation) </a></td>
                                   <td><li>3D Animation that explains the epidural steroid injection on human anatomy</li>
                                    <li>Presnets the in-depth causes of spinal nerve root inflammation</li>
                                    <li>Also focuses on the treatment of 'Lumbar Radiculopathy'</li>
                                      </td>
                                   <td>2:43</td>
                               </tr>
                               <tr>
                                <td>03</td>
                                <td> <a href="https://youtu.be/KavSagfRPWc"> Back Pain: Before and After Steroid Injections                                </a></td>
                                <td><li>Video for patients "seeking relief" after steroid injections</li>

                                   </td>
                                <td>2:52</td>
                            </tr>
                            <tr>
                                <td>04</td>
                                <td> <a href="https://youtu.be/aSloib_8edk">What You Should Know: Lumbar Epidural Steroid Injections </a></td>
                                <td><li>Guide for before, during and after receiving the epidural steroid injection </li>
                                  <li>Explained by Dr. William Sullivan</li>
              
                                   </td>
                                <td>5:02</td>
                            </tr>
                            <tr>
                             <td>05</td>
                             <td> <a href="https://youtu.be/y8EYHYkKcK0"> Common Back & Spine Pain Questions Answered </a></td>
                             <td><li> Explanation of how LONG pain relief lasts after epidural steroid injection</li>
                                <li>Q & A by Dr. Visnjevac</li>

                                </td>
                             <td>2:25</td>

                            </tbody>
                        </table>
                    </div>
                </div>
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>&nbsp &nbsp;
          <button type="button" class="btn btn-primary" onclick="javascript:location.href='/contact'">Get in Touch</button>
        </div>
      </div>
    </div>
  </div>
