<div class="modal fade" id="exploreModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Physical Therapy</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="card">
                <div class="card-header">
                    <h5 ><a href ="#" data-toggle="collapse" data-target="#st4ds">Retraining your posture
                    <span><i class="fas fa-angle-down"></i></span></a>
                    </h5>
                </div>
                <div class="card-body collapse" id="st4ds">
                    <table class="table table-bordered table-hover table-condensed">
                        <thead>
                            <tr>
                                <th>Testimonial</th>
                                <th>Guided Videos</th>
                                <th>Benefits</th>
                                <th>Duration</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>01</td>
                                <td> <a href="https://www.youtube.com/watch?v=U3DParHgSMc"> Back Stretches + Exercises // For LOWER BACK PAIN</a> </td>
                                <td><li>Exercises increase your range of motion</li>
                                   <li></li>
                                   <li></li>
                                   <li></li>
                                   <li></li>
                                   </td>
                                <td> 11:04 </td>
                            </tr>
                            <tr>
                               <td>02</td>
                               <td>...</td>
                               <td><li></li>
                                  <li></li>
                                  <li></li>

                                  </td>
                               <td>...</td>
                           </tr>
                           <tr>
                               <td>03</td>
                               <td>...</td>
                               <td><li></li>
                                  <li></li>

                                  </td>
                               <td>...</td>
                           </tr>
                           <tr>
                               <td>04</td>
                               <td>...</td>
                               <td><li></li>
                                  <li></li>
                                  <li></li>
                                  </td>
                               <td>...</td>
                           </tr>
                           <tr>
                               <td>05</td>
                               <td>...</td>
                               <td><li></li>
                                  <li></li>

                                  </td>
                               <td>...</td>
                           </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5 ><a href ="#" data-toggle="collapse" data-target="#py4ds">Stretching and flexibility exercises

                    <span><i class="fas fa-angle-down"></i></span></a>
                    </h5>
                </div>
                <div class="card-body collapse" id="py4ds">
                    <table class="table table-bordered table-hover table-condensed">
                        <thead>
                            <tr>
                                <th>Testimonial</th>
                                <th>Guided Videos</th>
                                <th>Benefits</th>
                                <th>Duration</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>01</td>
                                <td>...</td>
                                <td><li></li>
                                   <li></li>
                                   <li></li>

                                   </td>
                                <td></td>
                            </tr>
                            <tr>
                               <td>02</td>
                               <td>...</td>
                               <td><li></li>
                                  <li></li>

                                  </td>
                               <td>...</td>
                           </tr>
                           <tr>
                               <td>03</td>
                               <td>...</td>
                               <td><li></li>
                                  <li></li>
                                       <li></li>
                                       <li></li>
                                       <li></li>
                                  </td>
                               <td>...</td>
                           </tr>
                           <tr>
                               <td>04</td>
                               <td>...</td>
                               <td><li></li>
                                  <li></li>
                                  <li></li>
                                  <li></li>
                                  </td>
                               <td>...</td>
                           </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h5 ><a href ="#" data-toggle="collapse" data-target="#ds4ds">Aerobic exercises
                    <span><i class="fas fa-angle-down"></i></span></a>
                    </h5>
                </div>
                <div class="card-body collapse" id="ds4ds">
                    <table class="table table-bordered table-hover table-condensed">
                        <thead>
                            <tr>
                                <th>Testimonial</th>
                                <th>Guided Videos</th>
                                <th>Benefits</th>
                                <th>Duration</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>01</td>
                                <td></td>
                                <td><li></li>
                                   <li></li>
                                   <li></li>
                                   <li></li>
                                   <li></li>
                                   </td>
                                <td></td>
                            </tr>
                            <tr>
                               <td>02</td>
                               <td></td>
                               <td><li></li>
                                  <li></li>
                                 <li></li>
                                  </td>
                               <td>...</td>
                           </tr>
                           <tr>
                               <td>03</td>
                               <td></td>
                               <td><li></li>

                                  </td>
                               <td>...</td>
                           </tr>
                           <tr>
                               <td>04</td>
                               <td></td>
                               <td><li></li>
                                  <li></li>

                                  </td>
                               <td>...</td>
                           </tr>
                           <tr>
                            <td>05</td>
                            <td></td>
                            <td><li>
                                </li>
                               <li></li>
                             <li></li>
                               </td>
                            <td>...</td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5 ><a href ="#" data-toggle="collapse" data-target="#ml4ml">Manual therapy
                    <span><i class="fas fa-angle-down"></i></span></a>
                    </h5>
                </div>
                <div class="card-body collapse" id="ml4ml">
                    <table class="table table-bordered table-hover table-condensed">
                        <thead>
                            <tr>
                                <th>Testimonial</th>
                                <th>Guided Videos</th>
                                <th>Benefits</th>
                                <th>Duration</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>01</td>
                                <td>
                                    </td>
                                <td><li></li>
                                   <li></li>
                                   <li></li>
                                   <li></li>
                                   <li></li>
                                   </td>
                                <td></td>
                            </tr>
                            <tr>
                               <td>02</td>
                               <td></td>
                               <td><li>
                                   </li>
                                  <li></li>
                                 <li></li>
                                 <li></li>
                                 <li></li>
                                  </td>
                               <td>...</td>
                           </tr>
                           <tr>
                               <td>03</td>
                               <td></td>
                               <td><li>
                                   </li>
                                   <li></li>
                                        <li></li>
                                    <li></li>
                                    <li></li>
                                  </td>
                               <td>...</td>
                           </tr>
                           <tr>
                               <td>04</td>
                               <td></td>
                               <td><li>
                                   </li>

                                  </td>
                               <td>...</td>
                           </tr>
                           <tr>
                            <td>05</td>
                            <td></td>
                            <td><li></li>
                               <li></li>
                             <li></li>
                             <li></li>
                             <li></li>
                               </td>
                            <td>...</td>
                        </tr>
                        <tr>
                            <td>06</td>
                            <td></td>
                            <td><li>
                                </li>

                               </td>
                            <td>...</td>
                        </tr>
                        <tr>
                            <td>07</td>
                            <td></td>
                            <td><li>
                                </li>
                               <li></li>
                             <li></li>
                             <li></li>

                               </td>
                            <td>...</td>
                        </tr>
                        <tr>
                            <td>08</td>
                            <td></td>
                            <td><li>
                                </li>
                               <li></li>
                             <li></li>

                               </td>
                        </tr>
                        <tr>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Injection-based Treatments</h5>
          </div>
          <div class="modal-body">
                <div class="card">
                    <div class="card-header">
                        <h5 ><a href ="#" data-toggle="collapse" data-target="#nlp4nlp">Epidural Steroid Injection
                        <span><i class="fas fa-angle-down"></i></span></a>
                        </h5>
                    </div>
                    <div class="card-body collapse" id="nlp4nlp">
                        <table class="table table-bordered table-hover table-condensed">
                            <thead>
                                <tr>
                                    <th>Testimonial</th>
                                    <th>Guided Videos</th>
                                    <th>Benefits</th>
                                    <th>Duration</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td>01</td>
                                    <td>
                                        </td>
                                    <td><li></li>
                                       <li></li>
                                       <li></li>
                                       <li></li>
                                       </td>
                                    <td></td>
                                </tr>
                                <tr>
                                   <td>02</td>
                                   <td></td>
                                   <td><li>
                                    </li>
                                    <li> </li>
                                    <li></li>
                                    <li> </li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li> </li>
                                      </td>
                                   <td>...</td>
                               </tr>
                               <tr>
                                   <td>03</td>
                                   <td></td>
                                   <td><li>
                                       </li>
                                       <li></li>

                                      </td>
                                   <td>...</td>
                               </tr>
                               <tr>
                                   <td>04</td>
                                   <td></td>
                                   <td><li>
                                       </li>
                                     <li></li>
                                     <li></li>
                                     <li></li>
                                     <li></li>
                                      </td>
                                   <td>...</td>
                               </tr>
                               <tr>
                                <td>05</td>
                                <td></td>
                                <td><li>
                                    </li>
                                   <li></li>
                                 <li></li>
                                 <li></li>

                                   </td>
                                <td>...</td>
                            </tr>
                            <tr>
                                <td>06</td>
                                <td></td>
                                <td><li>
                                    </li>
                                    <li></li>
                                <li></li>
                                   </td>
                                <td>...</td>
                            </tr>
                            <tr>
                                <td>07</td>
                                <td></td>
                                <td><li>
                                    </li>

                                   </td>
                                <td>...</td>
                            </tr>
                            <tr>
                                <td>08</td>
                                <td></td>
                                <td><li>
                                    </li>

                                   </td>
                            </tr>

                            </tr>
                            <tr>

                            </tr>
                            <tr>

                            </tr>
                            <tr>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>&nbsp &nbsp;
          <button type="button" class="btn btn-primary" onclick="javascript:location.href='/contact'">Get in Touch</button>
        </div>
      </div>
    </div>
  </div>
