<div class="card">
  <div class="card-header">
    <h4>Finetic's Services</h4>
  </div>
  <div class="card-body">
    <div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="/static/images/workouts.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Workouts</h5>
      <p class="card-text">Regular exercise and high-intensity interval training is effective in helping you manage symptoms and improve your health.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted"><button type="button" class="btn btn-success" data-toggle="modal" data-target="#exerciseModal">Exercise</button></small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/static/images/treatment.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Nonsurgical Treatments</h5>
      <p class="card-text">There are hundreds of nonsurgical methods like physical therapy, aerobic exercises, and injection-based treatments.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted"><button type="button" class="btn btn-success" data-toggle="modal" data-target="#exploreModal">Explore</button></small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/static/images/assistance.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Medical Assistance</h5>
      <p class="card-text">According to the Public Health Agency of Canada, 44% of adults 20+ have at least 1 of 10 common chronic conditions.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted"><button type="button" class="btn btn-success" data-toggle="modal" data-target="#reachoutModal">Reach Out</button></small>
    </div>
  </div>
</div>

  </div>
</div>
